/* TODO Add site wide styles */
/* navbar */
a{
    text-decoration: none;
    color: black;
}

.navbar-logo {
    height: 100px;
}

.navbar-div{
    
    display: flex;
    position: sticky;
    top:0;
    height:100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    background-color: white;
    z-index: 1;
   
}

.navbar-rightside{
    display: flex;
}

.navbar-button{
    margin-bottom: 5px;
    height: 50px;
    width: 100px;
    background-color: white;
    border: none;
    font-style: normal;
    font-size: 17px;
    font-weight: bolder;
}

.navbar-button:hover {
    cursor: pointer;
}


/* home */
.home-container{
    top:40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   padding-bottom: 25px;
}


.landscape-img{
    z-index: 0;
    width: initial;
    height: 400px;
    margin-top: 10px;
}
.search-bar-container{
    display: flex;
    border: 1px gray solid;
    padding: 25px;
    
}

.search-results-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.search-bar{
    height: 25px;
    width: 250px;
}

.card-image{
    width:300px;
    height:300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-container{
    border: 1px black solid;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card-span{
    margin-top: 20px;
}

.card-h3{
    text-align: center;
}

.single-place-image-div{
    display: flex;
    max-height: 400px;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.single-place-image{
    min-width: 600px;
    max-width: 700px;

}

.campsite-card{
    margin-top: 25px;
    border: black 1px solid;
    min-width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.campsite-card-button{
    border: none;
    background-color: white;
    border-radius: 15px;
    opacity: .8;
}

.campsite-card-button:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.025);
}

.campsite-card-button:focus{
    outline: none;
}

.campsite-group-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
}

.campsite-card-image{
    max-width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.single-place-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.campsite-no-image {
    min-height: 225px;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
}

.campsites-headline{
    text-decoration: underline;
}

/* Profile css */
.profile-buttons{
    border: none;
    background-color: white;
    border-bottom: 5px solid lightgray;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
}

.profile-buttons:focus{
   outline: none;
   border-bottom: 5px solid olivedrab;
   
}

.profile-buttons:hover{
    cursor: pointer;
}

.profile-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    
}

.profile-trip-div{
    margin-top: 21.44px;
}

.create-a-trip-button{
    border-style: outset;
    border-color: olivedrab;
    background-color: white;
    height: 60px;
    border-radius: 35px;
}

.create-a-trip-button:hover{
    cursor: pointer;
}

.create-a-trip-button:focus{
    outline: none;
}

/* modal window */

.modal-div{
    position: fixed;
    top: 150px;
    border: solid 1px black;
    border-radius: 15px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    min-height:150px;
}
    
.modal-form-div{
    display: flex;
    margin-left: 15px;
}

.create-post-headline{
    margin-left: 10px;
    margin-right: 10px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.close-button{
    margin-top:10px;
    margin-right:10px;
}

#adventure-create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* trips */
.trip-line{
    display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: nowrap;
}
h4{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
}
.trip-container{
    margin-top: 25px;
}

.profile-trip-header{
    text-decoration: underline;
    display: flex;
    justify-content: end;
}

.trips-wishlist-link{
    display: flex;
    flex-direction: row;
}

.delete-trip-button{
    max-height: 20px;
}

.link-wishlist:hover{
    text-decoration: underline;
}

.profile-right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */

/* footer{
    background-color: lightblue;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    border: black solid 3px;
    border-radius: 15px;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   
} */
footer{
    display: flex;
    flex-direction: column;
    border-top: black 1px solid;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 99%;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 1);
    height:2em;
    
}

.partner-containers{
    display: flex;
    justify-content: space-evenly;
}

.footer-card-div{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px gray solid;
    padding: 15px;
    background-color: #e6efd9;
    border-radius: 5px;
    
}

.list-view{
    height: 600px;
}

a:hover{
    transform: scale(1.025);
    color: olive;
}

/* sign in */
.signin-container{
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sign-in-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px olive solid;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 250px;
    min-height: 250px;

}

.form-p{
    margin-bottom: 0;
    margin-top:0;
}

.form-link{
    margin-bottom: 5px;
    text-decoration: underline;
}

/* sign up  */

.sign-up-container{
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
     display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px olive solid;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 250px;
    min-height: 250px;
}